.flex-container {
    display: center;
    background-color: rgba(128, 128, 128, 0);
    width: 550px;
  }   
  
      h1 {
        color: rgb(37, 136, 151);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
    
      article {
        display: inline-block;
        margin-left: 30px;
        margin-right: 30px;
      }
    
      body {
        height: 100%;
      }
      
      body {
        margin: 0;
        background: linear-gradient(90deg, #49a09d, #5f2c82);
        font-family: sans-serif;
        font-weight: 100;
      }
  
      main {
        border: 1px solid black;
        margin-left: 250px;
        margin-right: 250px;
        margin-top: 75px;
      }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    cursor: pointer;
    margin-top: 60px;
  }
  
  .container {
    border-radius: 5px;
    background-color: none;
    padding: 20px;
    display: inline
  }
  
  
      input[type=text], select, textarea {
        width: 95%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
  
      input[type=submit] {
        background-color: #04AA6D;
        color: rgba(255, 255, 255, 0.539);
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
  
      input[type=submit]:hover {
        background-color: #45a049;
      }
  